.experiencia {
  background: linear-gradient(rgb(11, 44, 87), rgb(142, 117, 211));
  padding: 40px 20px;
  margin: 0 auto;
  display: nonflex;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia-texto {
  font-size: 1.5 rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #fff;
}

.experiencia-texto strong {
  color: #fff;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: rgb(107, 35, 107);
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.empresa ::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  text-align: right;
  width: 80px;
  color: #fff;
  font-size: 0.875rem;
}

.empresa-titulo {
  font-size: 1.1rem;
  line-height: 1.1;
  font-weight: bold;
  color: #fff;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: violet;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtituloprojetos {
    color: #fff;
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }
  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}

.projeto {
  font-size: 4.5rem;
  text-transform: uppercase;
  left: 100px;
  text-align: center;
  color: #fff;
}
